<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.beclose">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".BeCloserApp"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeClose">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
        <service android:name="com.example.beclose.Forms.Firebase.Notification.FirebaseService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>

        </service>

<!--        <service android:name=".Notification2.MyFirebaseServices"-->
<!--            android:exported="true"-->
<!--            android:enabled="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>-->
<!--            </intent-filter>-->
<!--        </service>-->
<!--        <service android:name=".Notification2.MyFirebaseMessageing"-->
<!--            android:exported="true"-->
<!--            android:enabled="true"-->
<!--            android:permission="com.google.android.c2dm.permission.SEND">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT"/>-->
<!--                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>-->
<!--                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE"/>-->
<!--            </intent-filter>-->
<!--        </service>-->
    </application>
</manifest>